 <!-- Right Panel -->



 <header id="header" class="header">

  <div class="top-left">

      <div class="navbar-header">

          <a class="navbar-brand text-center" href="dashboard.html">
              <div class="logo-txt"> <img src="/assets/images/logo.png"> </div>
          </a>

          <a class="navbar-brand hidden" href="dashboard.html">
              <div class="logo-txt"> <img src="/assets/images/logo.png"> </div>
          </a>

          <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>

      </div>

  </div>

  <div class="top-right">

      <div class="header-menu">

          <div class="search-box m-2">

              <div class="input-group">

                  <input type="text" class="form-control search-input" placeholder="Search..">

                  <div class="input-group-append d-block">

                      <button class="btn btn-search" type="button">

                          <i class="fa fa-search"></i>

                      </button>

                  </div>

              </div>

          </div>

          <div class="d-flex justify-content-end">

              <div class="header-left">

                  <div class="dropdown">

                      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                          <i class="fa fa-bell"></i>

                          <span class="count bg-danger"></span>

                      </button>

                      <div class="dropdown-menu" aria-labelledby="notification">

                          <a class="dropdown-item media" href="#">

                              <p>Lorem ipsum dolor sit amet Lorem ipsum </p>

                          </a>

                          <a class="dropdown-item media" href="#">

                              <p>Lorem ipsum dolor </p>

                          </a>

                          <a class="dropdown-item media" href="#">

                              <p>Lorem ipsum dolor sit amet</p>

                          </a>

                      </div>

                  </div>

              </div>

              <div class="user-area dropdown float-right">

                  <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                      <img class="user-avatar rounded-circle" src="/assets/images/admin.jpg" alt="User Avatar">

                  </a>

                  <div class="user-menu dropdown-menu">

                      <a class="nav-link" href="profile.html"><i class="fa fa- user"></i>My Profile</a>

                      <a class="nav-link" href="settings.html"><i class="fa fa -cog"></i>Settings</a>

                      <a class="nav-link" href="login.html"><i class="fa fa-power -off"></i>Logout</a>

                  </div>

              </div>

          </div>

      </div>

  </div>

</header>

<!-- /#header -->
