<nav>

  <div class="nav nav-tabs" id="nav-tab" role="tablist">

      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Nutzer</a>

      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/form2/view">Standort</a>

      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/form3/view">Ressort</a>

      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/form4/view">Zuführungen</a>

      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/form5/view">Titel</a>

      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/form6/view" >Produkt</a>

      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/form7/view" >Einzelplan</a>

      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/form8/view" >Investitionsprogramm</a>

      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/form9/view">Zuordnung InvProg/Nutzer</a>

      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/form10/view">Einzelplan-Ansatz</a>


      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/form12/view">Hauptkategorie</a>

      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/form13/view">Unterkategorie</a>

  </div>

</nav>

